<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-1">
      <button class=" btn btn-primary" (click)="logout()">Logout</button>
    </div> 
  </div><br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>DEPOSIT</b></h5>
          <button type="button" class="btn btn-warning" (click)="deposit()">Deposit</button>
        </div>
      </div><br>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>WITHDRAW</b></h5>
          <button type="button" class="btn btn-warning" (click)="withdraw()">Withdraw</button>
        </div>
      </div><br>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>FUNDTRANSFER</b></h5>
            <button type="button" class="btn btn-warning" (click)="fund()">Fund Transfer</button>
        </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>SHOWBALANCE</b></h5>
            <button type="button" class="btn btn-warning" (click)="showbalance()">Show Balance</button>
          </div>
        </div>
      </div>
  </div><br>
  


